.fields {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.fields input {
    width: 20vw;
    /* border: none; */
    /* border-bottom: 1rem; */
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: lightgray;
}

.login {
    font-weight: bold;
}

.signin {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 3% 20% 3%;
    gap: 2rem
}

@media only screen 
  and (min-width : 321px) 
  and (max-width : 480px) {
    .signin {
        flex-direction: column;
    }

    .fields input {
        width: 40vw;
    }
    
}